<div *ngIf="!username" class="col-lg-6">
  <form name="userInputForm" (submit)="saveUsername()">
    <div class="form-group">
      <label class="control-label"><h4>Enter Username</h4></label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input [(ngModel)]="userInput" name="userInput" type="text" class="form-control" autocomplete="off">
        <span class="input-group-btn">
         <button [disabled]="!userInput" class="btn btn-default" type="submit">Enter</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div *ngIf="username">
    <legend><h1>E-Agro chat application</h1> </legend>
     <div class="col-lg-8">
      <table class="table table-fixed">
        <tbody id="scroll" style="background-color: #aab8b30a">
          <tr>
            <td  *ngFor="let message of messages" >
              <div class="container col-lg-7"  [ngClass]="{ '': message.username != username,
              'right':   message.username === username }">
               <img src="https://www.gstatic.com/history/static/myactivity_20171212-0122_1/images/promo.png" alt="{{ message.username }}" style="width:100%;">
               <p>{{message.username}}</p><br>
                <p> {{message.text}}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
    $("#scroll").sc($("#scroll")[0].scrollHeight);
    </script>
      <div id="users" class="col-lg-4" style="float:right">
          <form class="form-horizontal" (submit)="sendMessage()">
            <fieldset>
              <legend>Users Online</legend>
              <div class="form-group">
                <label for="message" class="col-lg-2 control-label"><span class="glyphicon glyphicon-user"></span></label>
                <div class="col-lg-10">
                  <select multiple="" class="form-control">
                    <option *ngFor="let client of users">{{ client.username }}</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
 
    

  <div class="col-lg-12">
    <div class="col-lg-10">
        <form class="form-horizontal" (submit)="sendMessage()">
          <fieldset>
            <div class="form-group">
                <textarea id="txtarea"  [(ngModel)]="message" name="message" placeholder="enter message here" class="col-lg-9 inline" autocomplete="off" ></textarea>
                <button id="btnsend" [disabled]="!message" type="submit" class="col-lg-2 btn btn-lg btn-info" style="float: right">Send</button>
            </div>
          </fieldset>
        </form>
      
    </div>
  </div>
</div>